%aside
  %ul.nav
    = nav_item "Students", student_students_path
    = nav_item "Exercises", student_exercises_path
    = nav_item "Questions", student_questions_path
    = nav_item t('nav.feedback'), student_feedback_entries_path
    = nav_item "Info", student_info_path
    = nav_item "Preparation", preparation_path, link_options: {target: "_blank"}
