%h1= "#{@cohort.name} Pretest"

- @questions.each do |question|
  .question
    = link_to question.text, cohort_pretest_question_path(@cohort, question)

    - submitted, unsubmitted = PreTestAnswer.for_cohort_and_question(@cohort, question).partition{|answer| answer.pre_test.submitted? }
    - graded, ungraded = submitted.partition{|answer| answer.graded? }

    %ul
      - if unsubmitted.present?
        %li= pluralize(unsubmitted.length, 'incomplete pre-test')
  
      - if graded.present?
        - correct, incorrect = graded.partition{|answer| answer.correct? }
        %li= pluralize(correct.length, 'correct answer')
        %li= pluralize(incorrect.length, 'incorrect answer')
  
      - if ungraded.present?
        %li 
          There are some ungraded answers.
          = link_to "Grade Now", cohort_pretest_question_path(@cohort, question)
