.sub-nav
  %h1= cohort_name

  = render partial: 'cohort_sub_nav', locals: { cohort_id: params[:id] }

  .content
    .action-table
      %table
        %thead
          %th
            Student
          %th
            Email
          %th
            Actions
        %tbody
          - students.each do |student|
            - highlight = (student == lucky_winner)

            %tr.student{class: highlight ? 'lucky_winner' : ''}
              %td
                = link_to student.full_name, cohort_student_path(params[:id], student)
              %td
                = student.email
              %td
                - if student.github_username
                  = link_to "GitHub", "http://github.com/#{student.github_username}?tab=activity", target: '_blank'
      .actions
        = link_to "Add Student", new_cohort_student_path(params[:id])
