%h1 New Assignment

= form_for @assignment do |f|
  = errors_for(f)

  %p
    = f.label :name
  %p
    = f.text_field :name

  %p
    = f.label :github_repo, "GitHub Repo"
  %p
    = f.text_area :github_repo

  %p
    = f.submit value: 'Add Assignment', class: 'action'