%section.action-table
  %h2 Selected Feedback
  %table
    %thead
      %tr
        %th
          Given On
        %th
          Given To
        %th
          Given By
        %th
          Viewed
    %tbody
      - @feedback_entries.each do |entry|
        %tr
          %td
            = link_to l(entry.created_at, format: :full), instructor_cohort_feedback_entry_path(params[:cohort_id], entry)
          %td
            = entry.recipient.full_name
          %td
            = entry.provider.full_name
          %td
            = entry.viewed? ? "Yes" : "No"

  .actions
    = form_tag instructor_cohort_feedback_entries_path(params[:cohort_id]), method: :get do
      = select_tag :feedback_for_student, options_from_collection_for_select(@users_for_filter, "id", "full_name"), include_blank: true
      = submit_tag t('get_feedback')
