.sub-nav
  %h1= @cohort.name

  = render partial: "cohorts/cohort_sub_nav", locals: { cohort_id: params[:cohort_id] }

  .content
    .action-table
      %table
        %thead
          %tr
            %th Pair 1
            %th Pair 2
        %tbody
          - @pairs.each do |pair|
            %tr
              %td= pair.first.full_name
              - if pair.second
                %td= pair.second.full_name
              - else
                %td.not-paired Not Paired
      .actions
        = link_to "Random", cohort_pairs_path(@cohort)

