%h1= "#{@cohort.name} - Random Pairs"

%strong Strategy:
%ul
  %li= link_to "Random", cohort_pairs_path(@cohort)

%table.table
  %tbody
    - @pairs.each do |pair|
      %tr
        %td= pair.first.full_name
        - if pair.second
          %td= pair.second.full_name
        - else
          %td.not-paired Not Paired
