- if @unsubmitted_quizzes.present?
  .student-quizzes
    %h3.student-quiz-heading Incomplete Quizzes
  
    - @unsubmitted_quizzes.each do |quiz|
      .unsubmitted_quiz
        = link_to quiz.quiz_name, edit_assessments_quiz_path(quiz)

%h1 Class location

%iframe{src: "https://www.google.com/maps/embed?pb=!1m5!3m3!1m2!1s0x876bec26e4137699%3A0xf9d8bd928167d4d5!2s1035+Pearl+St%2C+Boulder%2C+CO+80302!5e0!3m2!1sen!2sus!4v1387232536923", width:"100%", height:"450", frameborder:"0", style:"border:0"}

%h1 Daily Schedule
%p
  Core hours will be from 9am-5pm, Monday-Friday. Lunch will be from noon-1pm. Students are encouraged to take some time away from
  their computer during the lunch hour to allow their brains to relax. A typical day will include the following:
%ul
  %li
    Q and A from the previous day
  %li
    Warmup
  %li
    Lecture/discussion
  %li
    Project time

%p
  Students are expected to be ready to go at 9am sharp. Instructors will be available during core hours to
  answer any questions that students may have.

%h1 Helpful Links
%ul
  %li
    = link_to  'Class Calendar', calendar_path
  %li
    = link_to 'Preparation Material', preparation_path


%h1 Instructors

.instructor-wrap
  .instructor-name
    Mike Gehard
  .instructor-email
    #{mail_to 'mike@gschool.it'}
  .instructor-phone
    970-471-9835

.instructor-wrap
  .instructor-name
    Jeff Dean
  .instructor-email
    #{mail_to 'jeff@galvanize.it'}
  .instructor-phone
    917-414-7801