%h1 Attendance for #{Date.today.to_s}

= form_for @attendance_sheet, url: instructor_cohort_attendance_sheets_path(@cohort), html: {class: "inline-form"} do |f|

  - @students.each_with_index do |student, index|
    %p
      = hidden_field_tag("attendance_sheet[attendances][#{index}][in_class]", "0")
      = check_box_tag("attendance_sheet[attendances][#{index}][in_class]")
      = label_tag "attendance_sheet_attendances_#{index}_in_class", student.full_name
      = hidden_field_tag("attendance_sheet[attendances][#{index}][user_id]", student.id)

  = submit_tag("Submit Attendance")
