%aside
  %ul.nav
    = nav_item "Students", instructor_cohort_path(cohort_id)
    = nav_item "1-on-1 Schedule", one_on_ones_instructor_cohort_path(cohort_id)
    = nav_item "Pairs", instructor_cohort_pairs_path(cohort_id)
    = nav_item "Exercises", instructor_cohort_cohort_exercises_path(cohort_id)
    = nav_item "Feedback", instructor_cohort_feedback_entries_path(cohort_id)