%section
  %h2 Cohorts
  - @cohorts.each do |cohort|
    = link_to cohort_path(cohort), class: "card" do
      .title= cohort.name
      %hr
      %p= pluralize(cohort.students.count, "student")
      %p
        = pluralize(cohort.cohort_assignments.count, "assignment")
        released


%section
  %h2 gSchool Assignments

  .action-table
    %table
      %tbody
        - @assignments.each do |assignment|
          %tr
            %td= assignment.name

    .actions
      = link_to 'Create Assignment', new_assignment_path, class: 'button'
