- content_for :title, "Preparing for gSchool"

%h1 Preparing for gSchool

In order to get ready for your upcoming gSchool session, please complete all of the following items before the first day of class, March 3, 2014.
If you have questions, please #{mail_to "instructors@gschool.it", "email us"}".
%hr

%h2 Typing
%p
  Developers spend a lot of their day typing at a computer. The ability to type quickly and accurately will
  allow you to spend less of your day thinking about typing and more of your day thinking about writing software.

%p
  We ask that students spend 20-30 minutes <em>per day</em> practicing your typing. Even if you think you are
  a good typist, this practice will help you get in the practice of typing computer code. For an example of a developer
  who is a great typist, checkout out the 1 minute video on Gary Bernhardt’s #{link_to "Destroy All Software", "https://www.destroyallsoftware.com/screencasts", target: "_blank"}.
%p
  You assignment is to create an account on #{link_to "Typing.io", "http://typing.io", target: "_blank"} and work with the Ruby and JavaScript exercises they have.
  Go ahead and sign up for the $5/month plan and we’ll cut you the $5 in the
  first week of class. If you choose to use it beyond this month, the fee is up to you.

%hr

%h2 Reading
%p
  There are many people that are learning to program. Some of them teach themselves and some of them attend programs like gSchool. To
  get a view of one journey from non-programming to programmer, please read all three parts of
  #{link_to "a story", "http://brandonhays.com/blog/2012/01/23/learning-to-program-part-i-how-i-did-it/", target: "_blank"} by #{link_to "Brandon Hayes", "https://twitter.com/tehviking", target: "_blank"}.

%p
  Part of the goal of gSchool is to teach your about the culture and thought process of software development. To get you started down this path,
  we would like your to read the following:
  %ol
    %li
      #{link_to "Extreme Programming Explained, 2nd Edition by Kent Beck", "http://www.amazon.com/Extreme-Programming-Explained-Embrace-Edition/dp/0321278658", target: "_blank"} – a foundational text for how to deliver high quality software quickly.
    %li
      #{link_to "How to Count by Steven Frank", "http://www.amazon.com/gp/product/B005DPIKPE/ref=as_li_ss_tl?ie=UTF8&camp=1789&creative=390957&creativeASIN=B005DPIKPE&linkCode=as2&tag=jumplab-20", target: "_blank"} – the underpinning theories of computing
    %li
      #{link_to "The 5 Elements of Effective Thinking by Edward B. Burger", "http://www.amazon.com/The-5-Elements-Effective-Thinking/dp/0691156662", target: "_blank"} - ideas for thinking more effectively

%hr

%h2 Coding
%p
  These exercises will give you a basic understanding of some of the topics we will be covering during the class. If you have already completed these,
  please go through them again so they are fresh in your mind.
%ol
  %li
    #{link_to "Codecademy Web Fundamentals", "http://www.codecademy.com/tracks/web", target: "_blank"}
  %li
    #{link_to "Codecademy JavaScript", "http://www.codecademy.com/tracks/javascript", target: "_blank"}
  %li
    #{link_to "Codecademy Ruby", "http://www.codecademy.com/tracks/ruby", target: "_blank"}

%hr

%h2 #{link_to "Log into site", sign_in_using_github_path} with your GitHub account
%p
  Make sure that the primary GitHub email address matches the email address you used to submit your application. If
  it does not, please let use know. If you do not have a GitHub account, please create one #{link_to "here", "https://github.com/"}.

%p
  We will be using #{link_to "GitHub", "https://github.com/"} extensively throughout the class so
  please feel free to poke around to see what it is all about.
