= form_for pre_test_answer, url: pre_test_question_path(question), method: :post do |f|
  = f.label :answer_text, question.text, class: 'pre-test-question-label'
  = f.text_area :answer_text, class: 'pre-test-question-field'
  = f.submit 'Next Question'

  = link_to 'See all answers', pre_test_path, class: 'pre-test-answers-link'