- if @quiz.status == Assessments::Quiz::UNSUBMITTED
  = link_to "Edit Answers", edit_assessments_quiz_path(@quiz), class: 'action pull-right'

%h1= "#{@quiz.name} Quiz (#{@quiz.status})"

- @quiz.answers.each do |answer|
  .answer{id: "answer_#{answer.id}"}
    %span.question= answer.question
    - answer_class = answer.correct? ? "correct" : answer.incorrect? ? "incorrect" : ""
    %span.status{class: answer_class}= answer_class.capitalize
    %pre
      %code= answer.text

- if @quiz.status == Assessments::Quiz::UNSUBMITTED
  = form_tag submit_assessments_quiz_path(@quiz) do
    = submit_tag "Submit This Quiz", class: 'action'