%h2 Add a New Company
= form_for Company.new do |f|
  %ul
    %li
      = f.label :name
      = f.text_field :name
    %li
      = f.label :contact_name
      = f.text_field :contact_name
    %li
      = f.label :contact_email
      = f.text_field :contact_email
    %li
      = f.submit "Add Company", class: "action"

