%section.action-table
  %h3 Feedback Received
  %table#feedback-received
    %thead
      %tr
        %th
          Given On
        %th
          Given By
    %tbody
      - @presenter.my_feedback_entries.each do |entry|
        %tr
          %td
            = link_to l(entry.created_at, format: :full), student_feedback_entry_path(entry)
          %td
            = entry.provider.full_name


  %h3 Feedback Given
  %table#feedback-given
    %thead
      %tr
        %th
          Given On
        %th
          Given To
    %tbody
      - @presenter.given_feedback_entries.each do |entry|
        %tr
          %td
            = link_to l(entry.created_at, format: :full), student_feedback_entry_path(entry)
          %td
            = entry.recipient.full_name

  .actions
    = link_to t('feedback.give'), new_student_feedback_entry_path, class: 'button'

