.sub-nav
  = render partial: "student/sub_nav"

  .content
    %h2 Questions
    = form_for [:student, @question] do |f|
      = errors_for(f)

      = f.label :text, "Question"
      = f.text_area :text, rows: "3"

      = f.submit "Submit"

    - @questions_by_day.each do |day, questions|
      %section.question
        %h3= day.to_s
        %ul
          - questions.each do |question|
            %li
              - if question.answered?
                %i.answered
              - else
                = form_for [:student, question] do |qf|
                  = qf.button "Answered", :value => "answer" do
                    %i.unanswered

              = question.text

