= form_for [:instructor, @exercise] do |f|
  = errors_for(f)

  %p
    = f.label :name
  %p
    = f.text_field :name

  %p
    = f.label :github_repo, "GitHub Repo"
  %p
    = f.text_field :github_repo

  %p
    = f.label :tag_list, "Tags (separated by commas)"
  %p
    = f.text_field :tag_list
  %p
    = f.submit value: submit_text, class: 'action'