%section
  %h2 gSchool Exercises

  .action-table
    .filter
      = form_tag({}, {method: :get}) do
        = label_tag "filter", "Filter by"
        = text_field_tag "filter", params[:filter], id: "filter"
        .actions
          = submit_tag "Filter"
          = link_to "Clear Filters", instructor_exercises_path, class: "cancel"

    %table
      %tbody
        - @exercises.each do |exercise|
          %tr
            %td= link_to exercise.name, instructor_exercise_path(exercise)
            %td= exercise.tag_list

    .actions
      = link_to 'Create Exercise', new_instructor_exercise_path, class: 'button'
