%h1 New Exercise

= form_for [:instructor, @exercise] do |f|
  = errors_for(f)

  %p
    = f.label :name
  %p
    = f.text_field :name

  %p
    = f.label :github_repo, "GitHub Repo"
  %p
    = f.text_field :github_repo

  %p
    = f.submit value: 'Add Exercise', class: 'action'