.sub-nav
  = render "student/sub_nav"

  .content
    %h1= @exercise.name
    = link_to "GitHub", @exercise.github_repo_url
    %p Tags: #{@exercise.tag_list}

    %section
      %p= @exercise.submission_text
      = @exercise.submission_link

