%section
  = form_for [:instructor, :exercise, @comprehension_question] do |f|
    = errors_for(f)

    = f.label :text, "Question"
    = f.text_field :text

    - @comprehension_question.answers.each_with_index do |answer, index|
      = f.fields_for(:answers, answer) do |fa|
        = fa.label :text, "Answer #{index + 1}"
        = fa.text_field :text

    = f.submit "Create Question"