= link_to "Back to cohort", instructor_cohort_path(params[:cohort_id])
%h1= @student.full_name

%dl
  %dt Email:
  %dd= @student.email

  %dt Address:
  %dd
    %p= @student.address_1
    %p= @student.address_2
    %p= "#{@student.city}, #{@student.state}"
    %p= @student.zip_code

  %dt Phone:
  %dd= @student.phone

  %dt Twitter:
  %dd
    - if @student.twitter.present?
      = link_to @student.twitter, @student.twitter_url

  %dt Blog:
  %dd
    - if @student.blog.present?
      = link_to @student.blog, @student.blog

.exercises
  %h2 Completed Exercises
  %ul
  - @student.completed_exercises.each do |exercise|
    %li= exercise.name
.exercises
  %h2 Incomplete Exercises
  %ul
  - @student.incomplete_exercises.each do |exercise|
    %li= exercise.name