%h1 Feedback For:

%p
  Feedback text can be written in #{link_to "markdown", "http://daringfireball.net/projects/markdown/syntax", target: "_blank"}.
  Some aspects of #{link_to "Github flavored markdown", "https://help.github.com/articles/github-flavored-markdown", target: "_blank"} is also supported. Known missing features
  are the support for tables and code fences.

=form_for @feedback_entry, url: student_feedback_entries_path, method: :post, html: {class: 'feedback-form'} do |f|
  = f.collection_select :recipient_id, @users_that_can_be_given_feedback, :id, :full_name
  = f.text_area :comment, rows: 15

  = f.submit t('submit'), class: 'action'