.sub-nav
  %h1= @cohort.name

  = render partial: 'instructor/cohorts/instructor_cohort_sub_nav', locals: { cohort_id: params[:cohort_id] }

  .content
    .action-table
      %table
        %thead
          %tr
            %th Exercise Name
            %th
        %tbody
          - @cohort_exercises.each do |cohort_exercise|
            %tr
              %td= link_to cohort_exercise.name, instructor_cohort_cohort_exercise_path(@cohort, cohort_exercise.exercise)
              %td= link_to "Remove", instructor_cohort_cohort_exercise_path(@cohort, cohort_exercise), method: :delete
      .actions
        = link_to "Assign Exercise", new_instructor_cohort_cohort_exercise_path
