%h1= @exercise.name

%section
  %h2 Completed Submissions
  %ul
    - @submissions.each do |submission|
      %li
        = submission.user_name
        |
        = link_to "GitHub", submission.github_repo_url
        - if submission.tracker_project_url.present?
          |
          = link_to "Tracker Project", submission.tracker_project_url
%section
  %h2 Students Without Submissions
  %ul
    - @students_missing_submission.each do |student|
      %li
        = student.full_name
