%h1= "#{@cohort.name} Pretest"
%h2= @question.text

- if @unsubmitted_answers.present?
  %h3
    %p= pluralize(@unsubmitted_answers.count, 'unsubmitted pretest') + " from:"
    %ul
      - @unsubmitted_answers.each do |answer|
        %li= answer.pre_test.user.full_name
  
  = link_to 'Go to next question', @next_path

- elsif @submitted_answers.present?

  = form_tag cohort_pretest_question_path(@cohort, @question) do
    - @submitted_answers.each do |answer|
      .answer-column
        .answer
          - if answer.answer_text.present?
            %pre
              %code
                = answer.answer_text
          - else
            .pretest-empty-answer
              (not answered yet)
    
      .answer-form-column
        %label.pre-test-answer-label
          %input{type: :radio, value: :correct, name: "pretest_answer[#{answer.id}]", checked: %w(correct ungraded).include?(answer.status) ? 'checked' : nil}
          Correct
        %label.pre-test-answer-label
          %input{type: :radio, value: :incorrect, name: "pretest_answer[#{answer.id}]", checked: answer.status == 'incorrect' ? 'checked' : nil}
          Incorrect
  
    .form-actions
      = submit_tag 'Submit', class: 'action'

- else
  
  %p 
    Nobody has answered this question yet.
    = link_to 'Go to next question', @next_path