%h2 gSchool Employment

%h2 Available Jobs to Apply to:

.action-table
  %table
    %thead.job_opportunity
      %tr
        %th Company Name
        %th Application Due Date
        %th Company Location
        %th Contact Name
        %th Contact Email
        %th Salary
        %th Job Title
        %th Application Type
        %th Job Opportunity Status
    %tbody
      - job_opportunities.each do |job_opportunity|
        %tr
          %td= link_to job_opportunity.company.name, job_opportunity
          %td= job_opportunity.application_due_date
          %td= job_opportunity.location
          %td= job_opportunity.company.contact_name
          %td= job_opportunity.company.contact_email
          %td= job_opportunity.salary
          %td= job_opportunity.job_title
          %td= job_opportunity.application_type
          %td= job_opportunity.status
          %td= link_to 'Add Job', job_opportunity_my_job_opportunities_path(job_opportunity.id), method: :post

  .actions
    = link_to "Add a New Opportunity", new_job_opportunity_path, class: "button"
    = link_to "View My Dashboard", job_dashboard_path, class: "button"
    = link_to "Admin Dashboard", admin_job_dashboard_path, class: "button"


