%h1 My Job Dashboard
%h2 Jobs I Will Apply For:
.action-table
  %table
    %thead.job_opportunity
      %tr
        %th Company Name
        %th Application Due Date
        %th Company Location
        %th Contact Name
        %th Contact Email
        %th Salary
        %th Job Title
        %th Application Type
        %th Job Opportunity Status
    %tbody
    - @my_job_opportunities.each do |my_job_opportunity|
      %tr
        %td= my_job_opportunity.job_opportunity.company.name
        %td= my_job_opportunity.job_opportunity.application_due_date
        %td= my_job_opportunity.job_opportunity.location
        %td= my_job_opportunity.job_opportunity.salary
        %td= my_job_opportunity.job_opportunity.job_title
        %td= my_job_opportunity.job_opportunity.application_type
        %td= my_job_opportunity.job_opportunity.status
        %td= link_to 'Apply', new_job_opportunity_application_path(my_job_opportunity.job_opportunity)

%h2 Jobs I Have Applied For:
.action-table
  %table.applied_for
    %thead.job_opportunity
      %tr
        %th Company Name
        %th Application Due Date
        %th Company Location
        %th Contact Name
        %th Contact Email
        %th Salary
        %th Job Title
        %th Application Type
        %th Job Opportunity Status
    %tbody
      - @applied_jobs.each do |job|
        %tr
          %td= job.company.name
          %td= job.application_due_date
          %td= job.location
          %td= job.salary
          %td= job.job_title
          %td= job.application_type
          %td= job.status
