%h1 My Job Dashboard
%h2 Jobs I Will Apply For:
.action-table
  %table.jobs_to_apply_for
    %thead.job_opportunity
      %tr
        %th Company Name
        %th Application Due Date
        %th Company Location
        %th Contact
        %th Salary
        %th Job Title
        %th Apply
    %tbody
    - @pending_applications.each do |application|
      - job = application.job_opportunity
      %tr
        %td= job.company.name
        %td= job.application_due_date
        %td= job.location
        %td= mail_to job.company.contact_email, job.company.contact_name
        %td= job.salary
        %td= job.job_title
        - if job.application_type == "Direct Application"
          %td= link_to 'Apply', job_opportunity_application_confirm_path(application_id: application.id, job_opportunity_id: job.id), data: {confirm: "You need to email your resume to the contact directly. This confirms that you have done that."}, method: :post
        - else
          %td= link_to 'Apply', edit_job_opportunity_application_path(id: application.id, job_opportunity_id: job.id)

%h2 Jobs I Have Applied For:
.action-table
  %table.applied_for
    %thead.job_opportunity
      %tr
        %th Company Name
        %th Application Due Date
        %th Company Location
        %th Contact
        %th Salary
        %th Job Title
        %th Application Type
    %tbody
      - @completed_applications.each do |application|
        - job = application.job_opportunity
        %tr
          %td= job.company.name
          %td= job.application_due_date
          %td= job.location
          %td= mail_to job.company.contact_email, job.company.contact_name
          %td= job.salary
          %td= job.job_title
          %td= job.application_type
