%h1 My Job Dashboard
%h2 Jobs I Will Apply For:
.action-table
  %table.jobs_to_apply_for
    %thead.job_opportunity
      %tr
        %th Company Name
        %th Application Due Date
        %th Company Location
        %th Contact Name
        %th Contact Email
        %th Salary
        %th Job Title
        %th Application Type
        %th Visibility
    %tbody
    - @jobs_to_apply_for.each do |job|
      %tr
        %td= job.job_opportunity.company.name
        %td= job.job_opportunity.application_due_date
        %td= job.job_opportunity.location
        %td= job.job_opportunity.salary
        %td= job.job_opportunity.job_title
        %td= job.job_opportunity.application_type
        %td= job.job_opportunity.visibility
        %td= link_to 'Apply', edit_job_opportunity_application_path(id: job.id, job_opportunity_id: job.job_opportunity_id)

%h2 Jobs I Have Applied For:
.action-table
  %table.applied_for
    %thead.job_opportunity
      %tr
        %th Company Name
        %th Application Due Date
        %th Company Location
        %th Contact Name
        %th Contact Email
        %th Salary
        %th Job Title
        %th Application Type
        %th Job Opportunity Status
    %tbody
      - @jobs_applied_for.each do |job|
        %tr
          %td= job.job_opportunity.company.name
          %td= job.job_opportunity.application_due_date
          %td= job.job_opportunity.location
          %td= job.job_opportunity.salary
          %td= job.job_opportunity.job_title
          %td= job.job_opportunity.application_type
          %td= job.job_opportunity.visibility
