%h2 Create Your New Job Opportunity
= form_for JobOpportunity.new do |f|
  %ul.job_opportunity
    %li
      = f.label :company_name
      = f.select(:company_id, options_from_collection_for_select(Company.all, :id, :name))
    %li
      = f.label :application_due_date
      = f.date_field :application_due_date
    %li
      = f.label :location
      = f.text_field :location
    %li
      -#= f.label :contact_name
      -#= f.text_field :contact_name
    %li
      -#= f.label :contact_email
      -#= f.email_field :contact_email
    %li
      = f.label :salary
      = f.number_field :salary
    %li
      = f.label :application_type
      = f.select :application_type, ["Direct Application", "Group Application"]
    %li
      = f.label :status
      = f.select :status, ["Private", "Public"]
    %li
      = f.label :job_title
      = f.text_field :job_title
    %li
      = f.submit "Create Job Opportunity", class: "action"
