%h2= job_opportunity.company.name
%p= job_opportunity.application_due_date
%p= job_opportunity.location
%p= job_opportunity.company.contact_name
%p= job_opportunity.company.contact_email
%p= job_opportunity.salary
%p= job_opportunity.job_title
%p= job_opportunity.application_type
%p= job_opportunity.status


= link_to 'Delete Job', job_opportunity_path(job_opportunity),
          data: { confirm: 'Are you sure?' }, method: :delete, class: 'action'

= link_to 'Edit Job', edit_job_opportunity_path(job_opportunity), class: 'action'
