%ul#navigation-menu
  - if user_session.current_user.is?(User::INSTRUCTOR)
    = nav_item t('nav.instructors'), instructor_dashboard_path
  - else
    = nav_item "Cohort", student_dashboard_path
  = nav_item t('nav.job_opportunity'), job_opportunities_path
  = nav_item "Clicker", clicker_path
  = nav_item "Personal Info", personal_information_path
