= link_to 'Tutorials Site', 'http://tutorials.gschool.it', class: "main-nav-link"
- if user_session.current_user.is?(User::INSTRUCTOR)
  = link_to 'Quiz Templates', assessments_quiz_templates_path, class: "main-nav-link"
  = link_to 'Instructors', cohorts_path, class: "main-nav-link"
-else
  = link_to 'Quizzes', assessments_quizzes_path, class: "main-nav-link"
= link_to t('nav.feedback'), feedback_path, class: "main-nav-link"
= link_to t('nav.job_opportunity'), job_opportunities_path, class: "main-nav-link"
= link_to t('nav.sign_out'), logout_path, class: "action"