%ul#navigation-menu
  = nav_item "Preparation", preparation_path
  - if user_session.current_user.is?(User::INSTRUCTOR)
    = nav_item t('nav.instructors'), instructor_dashboard_path
  - else
    = nav_item "Exercises", my_exercises_path
  = nav_item t('nav.feedback'), feedback_path
  = nav_item t('nav.job_opportunity'), job_opportunities_path
  = nav_item "Clicker", clicker_path
  = nav_item "Personal Info", personal_information_path
